.navbar{
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    padding: 0 350px 0 30px;
    top: 0;
    width: 100%;
    height: 50px;
    background: #4d4dff;
    color: white;
}
.navbar img{
    width: 30px;
    margin-right: 10px;
}
.navbar p{
    font-size: 1.2rem;
    font-family: 'PT Serif', serif;
    font-style: italic;
}

/* 
font-family: 'EB Garamond', serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif; 
font-family: 'EB Garamond', serif;
font-family: 'PT Serif', serif;
font-family: 'Uchen', serif;
font-family: 'Playfair Display', serif;
font-family: 'Cormorant Garamond', serif; 
"homepage": "http://al-tareb.github.io/pokemon",
"predeploy": "npm run build",
    "deploy": "gh-pages -d build",
*/